:root{
    --tv-color-wp-primary: #2271b1;
}
[class*="transfer-visitor-"] * {
    box-sizing: border-box;
}
.form-parent {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
    justify-content: space-between;
    margin-top: 25px;
}
.form-parent form,
.form-parent .author-info {
	width: 100%;
	padding: 25px;
	background: white;
}

.form-parent .author-info {
    width: 100%;
}

@media( min-width: 1032px ){
    .form-parent form {
        max-width: calc(100% - 335px);
    }
    .form-parent .author-info {
        max-width: 300px;
    }
}

[class*="transfer-visitor-"] .small {
	display: block;
	font-size: 85%;
}

[class*="transfer-visitor-"] .img-fluid{
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}
[class*="transfer-visitor-"] .inner-title {
	margin-top: 0;
	padding: 15px;
	background: #ecf0f1;
    font-weight: 500;
}
[class*="transfer-visitor-"] .social a{
    display: inline-flex;
    height: 28px;
    width: 28px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: 1px solid var(--tv-color-wp-primary);
    border-radius: 4px;
    text-decoration: none;
}
[class*="transfer-visitor-"] .social a:active,
[class*="transfer-visitor-"] .social a:focus,
[class*="transfer-visitor-"] .social a:hover{
    background-color: var(--tv-color-wp-primary);
    color: white;
}


@media ( min-width: 500px ) and ( max-width: 1032px ) {
    [class*="transfer-visitor-"] .author-info-box {
        display: flex;
    }
    .author-img-box{
        width: 225px;
        margin-right: 25px;
    }
    .author-detail {
        width: calc(100% - 250px);
    }
    .author-name{
        background-color: #ecf0f1;
        margin: 0;
        padding: 10px;
    }
}

.hire-me {
	display: inline-flex;
    align-items: center;
	justify-content: center;
	text-decoration: none;
	padding: 7px 15px;
	background-image: linear-gradient(to right bottom, #ff0000, #ff0053, #f60096, #bb00d4, #1252ff);
	color: white !important;
	font-weight: 600;
	min-width: 170px;
	font-size: 16px;
	border-radius: 4px;
    animation: color-slide 0.75s linear infinite;
}
.hire-me:hover{
    animation: color-slide 0.75s linear infinite reverse;
}
.hire-me span {
	margin-right: 10px;
	margin-top: 1px;
}
@media (min-width: 1032px){
    .hire-me{
        width: 100%;
        padding: 10px 15px;
    }
}
@keyframes color-slide{
    0%, 100%{
        background-image: linear-gradient(to right bottom, #ff0000, #ff0053, #f60096, #bb00d4, #1252ff);
    }
    25%{
        background-image: linear-gradient(to right bottom, #1252ff, #ff0000, #ff0053, #f60096, #bb00d4);
    }
    50%{
        background-image: linear-gradient(to right bottom, #bb00d4, #1252ff, #ff0000, #ff0053, #f60096);
    }
    75%{
        background-image: linear-gradient(to right bottom, #f60096, #bb00d4, #1252ff, #ff0000, #ff0053);
    }
}
[class*="transfer-visitor-"] .submit {
	display: flex;
	align-items: center;
}
.transfer-spin {
    position: relative;
	display: inline-block;
	height: 20px;
	width: 20px;
	background: #1d2327;
	margin-left: 15px;
	border-radius: 50%;
    animation: transfer-spin 0.75s linear infinite;
}
.transfer-spin::after{
    position: absolute;
    top: 2px;
    left: calc(50% - 3px);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: white;
    content: '';
}

@keyframes transfer-spin {
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}

.transfer-result {
	display: inline-block;
	margin-left: 10px;
	background: #fff;
	padding: 5px;
	border-left: 2px solid #1d2327;
}
.transfer-result.success{
    border-left-color: green;
    color: green;
}

a.page-title-action span.dashicons {
	margin-top: 4px;
}
.transfer-popup {
	position: fixed;
	width: 300px;
	height: auto;
	left: calc(50% - 150px);
	top: 100px;
	border: 1px solid #dee2e6;
	background: white;
	z-index: 9999;
    box-shadow: 0 5px 10px 0 #777;
}

.transfer-popup .popup-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 20px;
	background: #ecf0f1;
}
.transfer-popup .popup-header h2 {
    margin: 0;
}
.transfer-popup .popup-header > span {
	background-color: #fff;
	padding: 2px;
	border-radius: 50%;
	cursor: pointer;
}
.transfer-popup .popup-body {
	padding: 15px 20px;
}

.transfer-popup .popup-footer {
	display: flex;
	padding: 15px 20px;
	align-items: center;
	justify-content: flex-end;
	background: #ecf0f1;;
}

.transfer-popup .popup-footer input[type="submit"],
.transfer-popup .popup-footer button {
	display: inline-flex;
	padding: 5px 15px;
	margin-left: 10px;
	background: white;
	outline: 0;
	border: 1px solid #dee2e6;
	border-radius: 4px;
	cursor: pointer;
}

.transfer-popup[class*="edit-item-"] {
	width: 400px;
	left: calc(50% - 200px);
}